@model fsShop.Models.NhanHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <h3 style="text-align:center">Sửa thông tin thương hiệu</h3>
    <br />

    <div class="row">
        <div class="col-md-3">
            <br />
        </div>
        <div class="col-md-6">
            <dl>
                <dt class="col-md-6 text-md-right">
                    Tên Thương Hiệu:
                </dt>

                <dt class="col-md-6 text-md-left">
                    @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
                </dt>

            </dl>
            <br />
            <br />
            <dl>
                <dt class="col-md-6 text-md-right">
                    Hình Ảnh:
                </dt>

                <dt class="col-md-6 text-md-left">
                    @Html.EditorFor(model => model.HinhAnh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                </dt>

            </dl>
            <br />
            <br />
            <dl>
                <dt class="col-md-6 text-md-right">
                    Trạng Thái:
                </dt>

                <dt class="col-md-6 text-md-left">
                    @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                </dt>

            </dl>
            <br />
            <br />
            <dl>
                <dt class="col-md-6 text-md-right">
                    Mô Tả:
                </dt>

                <dt class="col-md-6 text-md-left">
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </dt>

            </dl>
        </div>
        <div class="col-md-3">
            <br />
        </div>
    </div>
    <br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <div class="col-md-3">
                <br />
            </div>
            <div class="col-md-6 text-md-center">
                <dl>
                    <dt class="col-md-6 text-md-right">
                        <input type="submit" value="Lưu" class="btn btn-success" />
                    </dt>

                    <dt class="col-md-6 text-md-left">
                        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                    </dt>

                </dl>
            </div>
            <div class="col-md-3">
                <br />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
