@model IEnumerable<fsShop.Models.NhanHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;">QUẢN LÝ DANH SÁCH HÃNG SẢN PHẨM</h2>

<div class="container center-block">

    <div class="col-md-12">
        <p>
            @Html.ActionLink("THÊM MỚI", "Create", null, new { @class = "btn  btn-success" })
        </p>
        <table class="table">
            <tr>
                <th width="20%">
                    Tên Nhãn Hàng
                </th>
                <th width="15%">
                    Hình Ảnh
                </th>
                <th width="20%">
                    Trạng Thái
                </th>
                <th width="20%">
                    Mô Tả
                </th>
                <th>
                    Chức Năng
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ten)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HinhAnh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaNhanHang }, new { @class = "btn btn-info" }) |
                        @Html.ActionLink("Xóa bỏ", "Delete", new { id = item.MaNhanHang }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>