@{
    ViewBag.Title = "Dang Ky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="user">
    <div class="user_options-container">
        <div class="user_options-text">
            <div class="user_options-unregistered">

            </div>

            <div class="user_options-registered">
                <h2 class="user_registered-title">Bạn đã có tài khoản?</h2>
                <p class="user_registered-text">Hãy nhấn nút "Đăng nhập" để có thể đặt hàng thỏa thích</p>
                <a href="@Url.Action("DangNhap", "User")" class="user_registered-login">Đăng Nhập</a>
            </div>
        </div>

        <div class="user_options-forms bounceLeft" id="user_options-forms">

            <div class="user_forms-signup">
                <h2 class="forms_title">Đăng Ký</h2>
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <form class="forms_form">
                        <fieldset class="forms_fieldset">
                            <div class="forms_field">
                                <input type="text" name="HotenKH" placeholder="Họ và tên" class="forms_field-input" required="">
                                @ViewData["Loi1"]
                            </div>
                            <div class="forms_field">
                                <input type="text" name="TenDN" placeholder="Tên đăng nhập" class="forms_field-input" required="">
                                @ViewData["Loi2"]
                            </div>
                            <div class="forms_field">
                                <input type="email" name="Email" placeholder="Email" class="forms_field-input" required="">
                                @ViewData["Loi5"]
                            </div>
                            <div class="forms_field">
                                <input type="password" name="Matkhau" placeholder="Mật khẩu" class="forms_field-input" required="">
                                @ViewData["Loi3"]
                            </div>
                            <div class="forms_field">
                                <input type="password" name="Matkhaunhaplai" placeholder="Xác nhận mật khẩu" class="forms_field-input" required="">
                                @ViewData["Loi4"]
                            </div>
                            <div class="forms_field">
                                <input type="tel" name="Dienthoai" placeholder="Số điện thoại" class="forms_field-input" required="">
                                @ViewData["Loi6"]
                            </div>
                            <div class="forms_field">
                                <input type="text" name="Diachi" placeholder="Địa chỉ" class="forms_field-input" required="">
                            </div>
                        </fieldset>
                        <div class="forms_buttons">
                            <input type="submit" value="Đăng ký" class="forms_buttons-action">
                        </div>
                    </form>
                }
                </div>
        </div>
    </div>
</section>
